html {
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.infinite-list-item {
    text-align: center;
    width: 100vw;
    margin: auto;
    vertical-align: bottom;
}

.infinite-list-item {
    border-bottom: 1px solid #ddd;
}

.infinite-list-item:last-child span {
    border-bottom: 0;
}
