html {
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.infinite-list-item {
    text-align: center;
    width: 100vw;
    margin: auto;
    overflow: hidden;
    vertical-align: bottom;
    border-bottom: 1px solid #ddd;
}

.infinite-list-item:last-child span {
    border-bottom: 0;
}
.material-icons.md-18 { font-size: 18px !important; }
.material-icons.md-24 { font-size: 24px !important; }
.material-icons.md-36 { font-size: 36px !important; }
.material-icons.md-48 { font-size: 48px !important; }

.react-autosuggest {
  position: relative;
}
.react-autosuggest input {
  margin-left: 25vw;
  width: 50vw;
  height: 30px;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 18px;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
}
.react-autosuggest__suggestions {
  position: absolute;
  top: 51px;
  width: 50vw;
  margin: 0;
  padding: 0;
  margin-left: 25vw;
  list-style-type: none;
  border: 1px solid #aaaaaa;
  background-color: #fff;
  font-size: 18px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}
.react-autosuggest input[aria-expanded="true"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.react-autosuggest input:focus {
  outline: none;
}
.react-autosuggest__suggestions-section:first-child .react-autosuggest__suggestions-section-name {
  border-top: 0;
}
.react-autosuggest__suggestions-section-name {
  padding: 10px 0 0 10px;
  font-size: 12px;
  text-transform: uppercase;
  color: #777;
  border-top: 1px dashed #ccc;
}
.react-autosuggest__suggestions-section-suggestions {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}
.react-autosuggest__suggestion--focused {
  background-color: #ddd;
}
